<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="static/css/main.css" rel="stylesheet" type="text/css">
<link href="static/reset.css" rel="stylesheet" type="text/css">
</head>
<div id='header'>
    <div id='home'>
    	<img id="home_image" src="static/images/MyMyoozLogo.png"/>
    </div>
    <div id='main_menu'>
    	<table id='menu_table'>
            <tr>
                <td id="download_button">Download</td>
                <td id="how_it_works_button">How It Works</td>
                <td id="register_button">Register</td>
            </tr>
        </table>
    </div>
    <div id='login'>
        	<table id='login_table'>
            <tr>
                <td id="login_button">Log in</td>
            </tr>
        </table>
</div>
</div>
<div id='form'>
    <div id='logo'><img id="home_image" src="static/images/MyMyoozLogo.png"/></div>
    <div id='slogan'>Venue Name</div>
<form action="/create">
Address *required <br>
<input type="text" name="address_1" size="50"><br>
<input type="text" name="address_2" size="50"><br>
<input type="text" name="city" size="50"><br>
<select name="State">
<option value="AL">Alabama</option>
<option value="AS">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
</select>
<input type="text" name="zip_code" size="32"><br>
Phone Number *required <br>
<input type="text" name="phone_number"><br>
Type of Venue *required<br>
<select name="Club">
<option value="bar">Bar</option>
<option value="club">Club</option>
<option value="lounge">Lounge</option>
<option value="restaurant">Restaurant</option>
</select><br>
Hours *required<br>
MON 
<select name="open">
<option value="8_pm">8:00pm</option>
<option value="9_pm">9:00pm</option>
<option value="10_pm">10:00pm</option>
<option value="11_pm">11:00pm</option>
</select>
<select name="close">
<option value="AL">8:00pm</option>
<option value="AS">9:00pm</option>
<option value="AZ">10:00pm</option>
<option value="AR">11:00pm</option>
</select>

TUE 
<select name="open">
<option value="8_pm">8:00pm</option>
<option value="9_pm">9:00pm</option>
<option value="10_pm">10:00pm</option>
<option value="11_pm">11:00pm</option>
</select>
<select name="close">
<option value="AL">8:00pm</option>
<option value="AS">9:00pm</option>
<option value="AZ">10:00pm</option>
<option value="AR">11:00pm</option>
</select>

WED 
<select name="open">
<option value="8_pm">8:00pm</option>
<option value="9_pm">9:00pm</option>
<option value="10_pm">10:00pm</option>
<option value="11_pm">11:00pm</option>
</select>
<select name="close">
<option value="AL">8:00pm</option>
<option value="AS">9:00pm</option>
<option value="AZ">10:00pm</option>
<option value="AR">11:00pm</option>
</select>

THU 
<select name="open">
<option value="8_pm">8:00pm</option>
<option value="9_pm">9:00pm</option>
<option value="10_pm">10:00pm</option>
<option value="11_pm">11:00pm</option>
</select>
<select name="close">
<option value="AL">8:00pm</option>
<option value="AS">9:00pm</option>
<option value="AZ">10:00pm</option>
<option value="AR">11:00pm</option>
</select>

FRI 
<select name="open">
<option value="8_pm">8:00pm</option>
<option value="9_pm">9:00pm</option>
<option value="10_pm">10:00pm</option>
<option value="11_pm">11:00pm</option>
</select>
<select name="close">
<option value="AL">8:00pm</option>
<option value="AS">9:00pm</option>
<option value="AZ">10:00pm</option>
<option value="AR">11:00pm</option>
</select>
</form>
</div>
<table id='bar'><tr></tr></table>
<div id='asseenon'>
    <div id='asseenon_text'> As seen on:</div>
    <img id='asseenon_img' src="static/images/asseenon.png"/>
</div>
<div id='footer'>
<div id='links'>
<ul id='company'>
    <li class='title'>The Company</li>
    <li>&nbsp;</li>
    <li>About Mymyooz</li>
    <li>FAQ</li>
    <li>Help & Support</li>
    <li>Privacy & Terms</li>
    <li>Advertise</li>
    <li>Jobs</li>
</ul>
<ul id='stayintouch'>
    <li class='title'>Stay In Touch</li>
    <li>&nbsp;</li>
    <li>Blog</li>
    <li>Contact</li>
    <li id="Share"></li>
    <li id="Available"><img src="static/images/availableiPhone.png" id='available_img' /></li>
</ul>
</div>
</div>
<body>
</body>
</html>
