<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="static/css/main.css" rel="stylesheet" type="text/css"/>
<link href="static/css/reset.css" rel="stylesheet" type="text/css"/>
<link href="static/css/effects.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="static/js/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
</head>
<body>
<div id='header'>
    <div id='home'>
    	<a href="/my2ooz/main"><img class="home_image clickable" src="static/images/logo2.png"/></a>
    </div>
    <div id='main_menu'>
    	<table id='menu_table'>
            <tr>
                <td id="download_button" class="clickable">Download</td>
                <td id="how_it_works_button" class="clickable">How It Works</td>
            <tr>
        </table>
    </div>
    <div id='register_items'>
        <div id="register">
            <table id="register_table">
                <tr>
                    <td id="register_button" class="clickable">Register</td>
                </tr>
            </table>
        </div>
        <div id = "register_box" style="display: none;" class="rounded-corners">
            <div id='register_text'>Do you own or work at a venue, club, bar or party and want to create a profile for your business? Click below to fill out the information and apply for verification.</div>
            <table class='bar' id="register_bar"><tr></tr></table>
            <a href="/my2ooz/venue_edit">
                <div id="submit_register">
                    <input type="button" class="rounded clickable" id="register_subbutton" value ="Register">
                </div>
            </a>
        </div>
    </div>
    <div id='login_items'>
        <div id='login'>
            	<table id='login_table'>
                <tr>
                    <td id="login_button" class="clickable">Log in</td>
                </tr>
            </table>
        </div>
        <div id="login_box" class="rounded-corners" style="display: none;">
            <div id="login_text"> Already signed up  with a venue and want to edit your music or venue information? Login here!</div>
            <table class='bar' id="login_bar"><tr></tr></table>
            <form id="login_form" action="/login" method="post">
                <div class="label">Email address</div>
                <input id="login_input" name="email"/>
                <br/>
                <div class="label">Password</div>
                <input id="password_input" name="password"/>
                <br>
                <div id="submit_login"><input type="submit" id="login_subbutton" class="rounded clickable" value="Login"/></div>
            </form>
        </div>
    </div>
</div>
<div id='main'>
    <div id='slogan'> The app that finds the hottest and latest parties and events based on what's in your music library!</div>
    <div id='logo'><img class="home_image" src="static/images/logo2motto.png"/></div>
    <div id='iphones'><img id="iphone_1" class="iphone" src="static/images/iphone.png"/><img id="iphone_2" class="iphone" src="static/images/iphone.png"/><img id="iphone_3" class="iphone" src="static/images/iphone.png"/></div>

</div>
<div id='bottom'>
<table id='lowbar' class='bar'><tr></tr></table>
<div id='asseenon'>
    <div id='asseenon_text'> As seen on:</div>
    <img id='asseenon_img' src="static/images/asseenon.png"/>
</div>
<div id='footer'>
<div id='links'>
<ul id='company'>
    <li class='title'>The Company</li>
    <li>&nbsp;</li>
    <li>About Mymyooz</li>
    <li>FAQ</li>
    <li>Help & Support</li>
    <li>Privacy & Terms</li>
    <li>Advertise</li>
    <li>Jobs</li>
</ul>
<ul id='stayintouch'>
    <li class='title'>Stay In Touch</li>
    <li>&nbsp;</li>
    <li>Blog</li>
    <li>Contact</li>
    <li id="Share"></li>
    <li id="Available"><img src="static/images/availableiPhone.png" id='available_img' /></li>
</ul>
</div>
</div>
</div>
</body>
</html>
