@charset "UTF-8";
/* CSS Document */

html, body {
    margin: 0;
    padding: 0;
}

body{
	background: #9FC5F8;
}

#main_menu {
	top: 0;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	height: 40px;
}

#header {
	height: 40px;
}
#menu_table {
	width: 300px;
	height: 20px;
	border: 1px solid black;
	border-top: 0 !important;
	border-collapse: collapse;
	border-spacing: 0;
}


#menu_table td, th{
	border: 1px solid black;
	border-top: 0 !important;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #104E8B;
	color: white;
}

#home {
	width: 200px;
	height: 50px;
	left: 0;
	top: 0;
}

#login {
	right: 100px;
	top: 0;
	position: absolute;
}

#login_table {
	width: 80px;
	height: 20px;
	border: 2px solid black;
	border-top: 0 !important;
	border-collapse: collapse;
	border-spacing: 0;
}

#login_table td, th{
	border: 2px solid black;
	border-top: 0 !important;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #2A76E0;
	color: white;
}

#home_image {
	width: 77%;
	height: 77%;
}

#main {
	text-align: center;
	left: 50%;
	margin-left: -245px;
	position: absolute;
}

#slogan {
	padding-top: 40px;
	padding-left: 20px;
	font-size: 24px;
	width: 490px;
	height: 50px;
}

#logo {
	padding-top: 40px;
	width: 300px;
	height: auto;
	padding-left: 95px;
}

#iphones {
	padding: 0;
	margin:0;
	padding-top: 20px;
	padding-right: 10px;
}

#passcode {
	padding: 0;
	margin:0;
	padding-top: 60px;
	padding-right: 10px;
}

.iphone {
	width: 150px;
	height: auto;
	padding-left: 10px;
}

#bar {
	margin-top: 20px;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	position: absolute;
	height: 10px;
	background-color: #073763;
	top: 550px;
}

#asseenon {
	position: absolute;
	left: 50%;
	margin-left: -350px;
	top: 600px;
	width: 600px;
}

#asseenon_text {
	text-align: center;
	font-size: 24px;
	width: 200px;
	height: 20px;
	padding-left: 275px;
}

#footer {
	margin-left: 0px;
	padding-left: 0px;
	height: 220px;
	top: 920px;
	position: absolute;
	width: 100%;
	background-color: #073763;
}

ul {
	padding-top: 20px;	
	color: white;
	list-style-type:none;
	font-size: 14px;
	width: 200px;
}

.title {
	font-size: 18px;
}

#company {
	padding-left: 200px;
	float: left;
}

#stayintouch {
	position: absolute;
	left: 50%;
}

#available_img {
	margin-top: 10px;
	width: 200px;
	height: auto;
}
